<div class="col-xs-6 col-xs-offset-3">
	<div class="row inputDiv">
		<input type="text" class="form-control" placeholder="Song Name" ng-model="newSong.song">
	</div>
	<div class="row inputDiv">
		<input type="text" class="form-control" placeholder="Song Artist" ng-model="newSong.artist">
	</div>
	<div class="row inputDiv">
		<input type="text" class="form-control" placeholder="Song Album" ng-model="newSong.album">
	</div>
	<div class="row inputDiv">
		<button class="btn btn-info col-xs-4" ng-click="addNewSong()">Submit</button>
	</div>
</div>