/*MUSIC HISTORY STYLES*/

body {
	width: 80%;
	margin: 0 auto;
}

/*NAVIGATION STYLES*/

.nav-bar {
	width: 100%;
	height: 10%;
	background-color: #FFB4B0;
}

/*MAIN BODY STYLES*/
.main-body {

}
.side-bar {

}
.results {

}